.dsc-home-hero-container {
  width: 100%;
  //  fallback for browsers that don't support vh/vw
  height: 600px;
  //  desired height
  height: 60vh;
  max-height: 600px;
  overflow: hidden;
  background: repeat-x center /auto 100%;
  color: $white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    background: no-repeat center / 100% auto;
  }
}

.dsc-home-hero-overlay {
  //  fallback for browsers that don't support vh/vw
  margin: auto 50px;
  height: 500px;
  // desired margin and height
  margin: auto 5vh;
  height: 50vh;
  max-height: 500px;
  width: 100%;
  border: 1px solid $color-lighter;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.dsc-home-hero-overlay-inner {
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;

  .dsc-home-hero-title {
    text-transform: uppercase;
  }

  .dsc-home-hero-action {
    margin: 10px 0;
  }
}

.dsc-home-hero-text {
  position: relative;
  width: 100%;

  &:before,
  &:after {
    font-family: 'Roboto Slab';
    font-size: 100px;
    position: absolute;
  }

  &:before {
    top: -70px;
    left: -25px;
    content: '“';
  }

  &:after {
    bottom: -110px;
    right: -25px;
    content: '”';
  }
}
