.dsc-orders-submission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .dsc-orders-fields-flex {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    flex-wrap: wrap;

    @media (max-width: 655px) {
      justify-content: center;
    }
  }

  .dsc-orders-buttons-flex {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    :first-child {
      margin-right: 1em;
    }
  }

  .dsc-orders-fields-container {
    width: 300px;
    margin-bottom: 1em;
  }

  .dsc-orders-fields-inner-container {
    margin: 1em 15px;

    .form-control.string {
      width: 100%;
    }

    .dsc-orders-underlined-field {
      padding: 5px 15px;
      border-bottom: 1px solid $color-darker;
      display: flex;
    }

    .dsc-orders-radio-label {
      margin-left: 1em;
    }
  }
}

.dsc-orders-summary-outer {
  flex-direction: column;

  .dsc-orders-summary-container {
    max-width: 800px;
    margin: 20px;
  }

  .dsc-orders-recaptcha-container {
    margin: 20px;
  }

  .dsc-returns-disclaimer {
    margin-top: 20px;
    font-style: italic;
    font-size: smaller;
  }
}
