.dsc-order-container {
  margin: 20px 0;

  @media (min-width: 1300px) {
    margin: 20px 5%;
  }
}

.dsc-orders-section-title {
  width: 100%;
  font-weight: normal;
  font-size: 1.2em;
  padding: 3px 20px;
  background-color: $gray;
  color: $white;
  text-align: center;

  &.dsc-title-primary {
    background-color: $color-darker;
  }

  &.dsc-title-secondary {
    background-color: $color-darker;
    h4 {
      font-size: 1em;
      margin: 0;
    }
  }
}

.dsc-orders-elements-switcher {
  @include existing-yet-invisible;

  & ~ {
    .dsc-switchable-cart-closed,.dsc-switchable-orders {
      display: none;
      overflow: hidden;
    }

    .dsc-switchable-cart,.dsc-switchable-orders-closed {
      overflow: hidden;
      display: block;
    }
  }

  &:checked ~ {
    .dsc-switchable-cart-closed,.dsc-switchable-orders {
      display: block;
    }

    .dsc-switchable-cart,.dsc-switchable-orders-closed {
      display: none;
    }
  }
}

form.new_order_submission {
  .form-group {
    margin-bottom: 10px;
  }

  .control-label {
    margin-bottom: 0;
  }

  .form-control.string,.form-control.password {
    border-radius: 0;
    width: 250px;
  }
}
