@mixin existing-yet-invisible {
  // a set of rules to remove element from page but save it for later use
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@mixin fully-centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin checkbox-positioned($top: 'undefined', $bottom: 'undefined', $left: 'undefined', $right: 'undefined') {
  @extend .dsc-checkbox;
  position: relative;

  &:before {
    position: absolute;
    @if $top != 'undefined' { top: $top; }
    @if $bottom != 'undefined' { bottom: $bottom; }
    @if $left != 'undefined' { left: $left; }
    @if $right != 'undefined' { right: $right; }
  }
}
