| var nextRow = $('#{ render 'list', articles: @articles }').addClass('dsc-spinner-controlled-invisible');
| $('.dsc-articles-list').append(nextRow);
- if @articles.last_page?
  | $('.load-more-articles').data('hide', 1);
- else
  | $('.load-more-articles').prop('action', '#{articles_path(page: @articles.next_page)}');
| $('.load-more-articles').trigger('ajax:templateLoaded', { templateContainer: '.dsc-articles-list' });
