// vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'adminlte/adminlte.min';
@import 'adminlte/skins/skin-green.min';
@import 'gritter';
@import 'sweetalert2.min';
@import 'selectize';
@import 'jquery-ui/tooltip';
@import 'jquery-ui/datepicker';

// local
@import 'fonts';

.input-help-block {
  font-size: smaller;
  color: #666;
  margin-top: -10px;
}

.ui-datepicker {
  background-color: #fff;

  .ui-icon {
    text-indent: 0;
    cursor: pointer;
  }

  .ui-state-active {
    background-color: #ff9;
  }
}
