.dsc-button {
  font-size: $button-text-size;
  width: 225px;
  border: 1px solid $button-background;
  background: $button-background;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  color: $white;
  cursor: pointer;

  &.large-margin {
    margin: 40px 0 50px;
  }

  &:hover {
    border: 1px solid $button-hover-background;
    background: $button-hover-background;
    text-decoration: none;
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &.full-width {
    width: 100%;
  }

  &.clear {
    color: $color-darker;
    background-color: transparent;
  }

  &.dsc-primary-action {
    background-color: $green;
  }
}
