label {
  font-weight: normal; // override bootstrap setting
}

.dsc-form-errors {
  color: $red;
  margin: 10px 0;
}

.dsc-form-errors-bordered {
  border-left: 3px solid $red;
  background-color: rgba($red, 0.1);
  color: $black;
  padding: 5px 25px;
  margin: 10px 0;
  min-width: 50%;
}

.dsc-input-checkable {
  @extend .dsc-existing-yet-invisible;

  & + .dsc-label-checkable {
    margin-left: 25px;
    position: relative;
    cursor: pointer;
    font-weight: normal;
    line-height: 20px;

    &:before {
      position: absolute;
      left: -25px;
      top: 2px;
      width: 15px;
      height: 15px;
      border: 1px solid $color-darker;
      border-radius: 2px;
      content: '';
      box-sizing: border-box;
    }
  }

  & + .dsc-checkable-radio:before {
    border-radius: 20px;
  }

  &:checked + .dsc-checkable-checkbox:after {
    content: '\f00c';
    z-index: 3;
    position: absolute;
    left: -25px;
    top: -1px;
    font-family: FontAwesome;
    font-size: 16px;
    color: $color-darker;
    box-sizing: border-box;
  }

  &:checked + .dsc-checkable-radio:before {
    background-color: $color-darker;
  }

  & ~ .dsc-label-order-desc {
    visibility: hidden;
  }

  &:checked ~ .dsc-label-order-desc {
    visibility: visible;
  }
}

.dsc-label-order-desc {
  cursor: pointer;
  margin-left: 10px;
  font-weight: normal;
}

.dsc-input-order-desc {
  @extend .dsc-existing-yet-invisible;

  & + .dsc-label-order-desc:before {
    font-family: "FontAwesome";
    content: '\f160';
    font-size: 12px;
  }

  &:checked + .dsc-label-order-desc:before {
    content: '\f161';
  }

  & + .dsc-order-alpha:before {
    content: '\f15d';
  }

  &:checked + .dsc-order-alpha:before {
    content: '\f15e';
  }
}

.dsc-centered-recaptcha {
  display: flex;
  justify-content: center;
}
