.dsc-existing-yet-invisible {
  // a set of rules to remove element from page but save it for later use
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.dsc-main-content {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.dsc-single-block-centered {
  width: 40%;
  margin: 20px auto;
}
