.dsc-existing-yet-invisible {
  @include existing-yet-invisible;
}

.dsc-main-content {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.dsc-single-block-centered {
  width: 40%;
  margin: 20px auto;
}

//.dsc-sign-in-checkbox {
//  margin-top: 10px;
//}
