.dsc-header {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  .dsc-header-text {
    margin: 0;
    font-size: $main-caption-size;
    text-transform: uppercase;
    color: $white;
    &:before,
    &:after {
      padding: 0 2px;
      content: '\2022';
      font-size: 25px;
    }
  }
}

.dsc-section-header {
  background-color: $color-darker;
}

.dsc-sidenav-header {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  // we need to display the header above any other elements on page, the only other element that
  // has precedence over it is sidenav itself (z-index 11)
  z-index: 10;

  .dsc-header-text {
    font-size: $sidenav-header-size;

    &:before,
    &:after {
      padding: 0 10px;
      color: $color-lighter;
    }
  }
}
