.dsc-header {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.dsc-header-text {
  margin: 0;
  font-size: $main-caption-size;
  color: $white;
  &:before,
  &:after {
    padding: 0 2px;
    content: '\2022';
    font-size: 25px;
  }
}

.dsc-header-secondary {
  border-bottom: 1px solid $gray;
  text-align: center;
  margin: 20px;
  padding: 10px;

  .dsc-header-text {
    color: $black;
  }
}

// do not display main header on screens less than 400px
//@media (max-width: 400px) {
//  &.dsc-main-header {
//    @include existing-yet-invisible;
//  }
//}

.dsc-section-header {
  background-color: $color-darker;
}

.dsc-show-page-subheader {
  border-bottom: 1px solid $color-darker;
  text-transform: uppercase;
  margin: 20px 0;
}
