.dsc-share-block {
  margin-top: $default-margin * 3;
  
  .dsc-share-block-field-label {
   color: $color-darker;
  }

  .dsc-share-icon {
    margin-right: $default-margin;
    color: $color-darker;
  }
}