$sidenav-width: 200px;
$shadow-width: 8px;

.dsc-sidenav-outer-container {
  height: 60px;
}

.dsc-sidenav-container {
  position: absolute;
  left: 10px;
  color: $white;
  top: 10px;
}

.dsc-sidenav-panel {
  position: fixed;
  padding: 0 10px;
  height: 100%;
  top: 0;
  background-color: $color-darker;
  left: -$sidenav-width;
  width: $sidenav-width - $shadow-width;
  box-shadow: $shadow-width 0 6px -6px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-out;
}

.dsc-sidenav-toggler {
  cursor: pointer;

  .fa {
    font-size: 40px;
  }
}

.dsc-sidenav-checkbox {
  &:checked ~ .dsc-sidenav-panel {
    transform: translateX($sidenav-width);
  }
}

.dsc-sidenav-close {
  height: 60px;
  padding: 9px 0;
  text-align: right;
  .dsc-sidenav-close-label {
    cursor: pointer;
    font-size: 30px;
  }
}

.dsc-sidenav-nav-items {
  font-family: "Roboto Slab";
  font-size: $block-caption-size;
  list-style: none;
  text-transform: uppercase;
  text-align: left;
  padding-left: $sidenav-width / 3;

  .dsc-sidenav-nav-item {
    padding: 1px 0;
  }

  .dsc-sidenav-nav-link {
    color: $white;

    &.active {
      font-weight: bold;
    }

    &:hover {
      text-decoration: none;
    }
  }
}


.dsc-sidenav-header {
  background: image_url('logo_short.png') no-repeat center / 20% auto;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  // we need to display the header above any other elements on page, the only other element that
  // has precedence over it is sidenav itself (z-index 11)
  z-index: 10;

  .dsc-header-text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: $sidenav-header-size;

    &:before,
    &:after {
      padding: 0 10px;
      color: $color-lighter;
    }
  }
}

.dsc-sidenav-icons-container {
  position: relative;

  @include sbu-icon-nav(dsc-search-flag-sidenav, $white, 5px, 50);

  .dsc-icons-nav {
    @media (max-width: 800px) {
      width: 300px;
    }

    @media (max-width: 350px) {
      left: 0;
      width: 100px;
    }
  }
}
