.dsc-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0);
  width: 70px;
  height: 70px;
  text-align: left;
  i {
    color: $color-lighter;
  }
  .dsc-left-cog {
    position: absolute;
    right:12px;
    bottom: 10px;
    animation: fa-spin 2s infinite linear;
    font-size: 24px;
  }
  .dsc-central-cog {
    animation: fa-spin 4s infinite linear reverse;
    font-size: 54px;
  }
  .dsc-right-cog {
    position: absolute;
    right: 0;
    top: 0;
    animation: fa-spin 3s infinite linear;
    font-size: 36px;
  }
}

.dsc-disappearing {
  transition: transform 0.4s ease-in;
  transform: scale(0);
}

.dsc-appearing {
  transition: transform 0.4s ease-out;
  transform: scale(1) !important;
}
