.dsc-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0);
  width: 70px;
  height: 70px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);

  .fa {
    color: $color-lighter;
  }

  .dsc-left-cog {
    position: absolute;
    right:12px;
    bottom: 10px;
    animation: fa-spin 2s infinite linear;
    font-size: 24px;
  }

  .dsc-central-cog {
    animation: fa-spin 4s infinite linear reverse;
    font-size: 54px;
  }

  .dsc-right-cog {
    position: absolute;
    right: 0;
    top: 0;
    animation: fa-spin 3s infinite linear;
    font-size: 36px;
  }
}

.dsc-disappearing {
  transition: transform 0.4s ease-in;
  transform: scale(0);
}

.dsc-appearing {
  transition: transform 0.4s ease-out;
  //  we use important here because it should override the spinner's default scale which is 0
  transform: scale(1) !important;
}

.dsc-spinner-controlled-invisible {
  // a set of rules to remove element from page but save it for later use
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
  position: absolute;
  z-index: -1;
}

.dsc-spinner-controlled-visible {
  transition: opacity 1s linear;
  opacity: 1;
}
