html {
  font-family: Roboto;
  position: relative;
  min-height: 100%;
}

body {
//  for footer
  margin: 0 0 650px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab';
}

p,div {
  font-size: $text-size;
}
