html {
  font-family: Roboto;
  position: relative;
  min-height: 100%;
}

body {
  font-family: Roboto;
  //  for footer. footer is 570px high, we add 20 additional px for proper margin
  margin: 0 0 590px;
  z-index: 0;

  &.with-small-footer {
    margin: 0 0 70px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab';
}

p,div,span {
  font-size: $text-size;
}

a {
  color: $color-darker;

  &:hover {
    color: $color-darker;
  }

  &.bigger {
    font-size: $article-text-size;
  }
}

input[type=text],textarea {
  &.form-control {
    border: 1px solid $color-darker;
    border-radius: 0;
  }
}

.dsc-checkbox {
  visibility: hidden;
  vertical-align: middle;
  margin: 0 !important;

  &:before {
    cursor: pointer;
    visibility: visible;
    font-family: 'FontAwesome';
    content: '\f096';
    color: $color-darker;
    font-size: inherit;
  }

  &:checked:before {
    content: '\f046';
  }
}

.dsc-table {
  @media(max-width: 900px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th {
    font-weight: normal;
    font-size: 1.2em;
    padding: 15px 20px;
    background-color: $gray;
    color: $white;
    text-align: center;
  }

  tr.spacer {
    height: 25px;

    &.bordered {
      border-bottom: 2px solid $gray;
    }
  }

  td {
    font-size: 1.4em;
    padding: 0 20px;

    &.dsc-bordered-right {
      border-right: 2px solid $gray;
    }

    &.dsc-small-padding {
      padding: 0 5px;
    }
  }
}
