footer.dsc-footer-container.small-footer
  .dsc-footer-small
    | &copy; #{years_active}&nbsp;|&nbsp;#{t('footer.publishing_house')} &laquo;Discursus&raquo;&nbsp;|&nbsp;
    | #{t('footer.developed_at')}
