= add_gritter(t('orders.populated'), title: t('gflash.titles.success'), image: :success, nodom_wrap: true)
| $('.dsc-icons-nav-cart-container').html("#{ j render('shared/nav/short_cart')}");
| addTooltipster($('#shortCartTrigger'));
