= add_gritter(t('orders.populated'), title: t('gflash.titles.success'), image: :success, nodom_wrap: true)
| $('.dsc-icons-nav-cart-container').each(function() { $(this).html("#{ j render('shared/nav/short_cart')}") });
| $('.dsc-short-cart-tooltip-triggerable').each(function() { addTooltipster($(this)); });
