| var nextRow = $('#{ render 'list', books: @books }').addClass('dsc-spinner-controlled-invisible');
| $('.dsc-books-list-row').append(nextRow);
- if @books.last_page?
  | $('.load-more-books').data('hide', 1);
- else
  | $('.load-more-books').prop('action', '#{books_path(params_with_search(@books))}');
| $('.load-more-books').trigger('ajax:templateLoaded', { templateContainer: '.dsc-books-list-row' });
