.dsc-books-list {
  margin: 0 5%;

  @media (min-width: 1600px) {
    margin: 0 15%;
  }
}

.dsc-book-card-body {
  text-align: left;
  width: 100%;
  position: relative;
  //transition: transform 0.35s;
  height: 100px;
  background-color: $color-darker;
  padding: 10px;
  color: $white;

  .dsc-book-card-title {
    font-size: $block-caption-size;
    margin: 0;
    height: 57px;
    overflow: hidden;
  }

  .dsc-book-card-price {
    font-size: $block-caption-size;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .dsc-book-card-variants {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0;
    margin: 0;

    .dsc-book-card-variant-item {
      display: inline;
      list-style: none;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

.dsc-book-card-image {
  height: $image-container-height;
  padding: 10px 0;

  //@media (min-width: 992px) and (max-width: 1250px) {
  //  height: auto;
  //  width: 100%;
  //}
}
