.dsc-books-filter-section {
  margin-top: 10px;
}

.dsc-books-filter-section-title {
  padding-bottom: 3px;
  width: 100%;
  font-size: $block-caption-size;
  border-bottom: 1px solid $color-darker;
}

.dsc-books-filter-section-body {
  padding: 10px;
}

.dsc-books-filter-text {
  width: 100%;
  padding: 0 5px;
  border: 1px solid $color-darker;
}

.dsc-books-filter-options {
  padding-left: 10px;
  line-height: 20px;

  .selectize-dropdown, .selectize-input {
    width: 100%;
    border-radius: 1px;
  }

  .selectize-control.multi .selectize-input > div.active {
    background: #efefef;
    color: #333333;
  }
}

.dsc-books-filter-subtitle {
  margin: 20px 0 5px;

  &:first-of-type {
    margin: 0 0 5px;
  }
}

.dsc-books-filter-actions {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.dsc-book-filter-action {
  width: 48%;
}
