$book-card-height: 280px;
.dsc-books-list {
  margin: 0 5%;
  figure {
    margin: 15px 0;
    position: relative;
    border: 1px solid $color-darker;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: $book-card-height;
    img {
      height: 90%;
      margin: auto;
    }
    figcaption {
      width: 100%;
      transition: transform 0.35s;
      position: absolute;
      top: -$book-card-height;
      left: 0;
      height: $book-card-height;
      background-color: $colored-background;
      padding: 20px;
      color: $white;
      h4 {
        font-size: $block-caption-size;
        text-transform: uppercase;
      }
      div.author {
        text-align: right;
        font-style: italic;
      }
      article {
        margin-top: 20px;
        height: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    a {
      transition: transform 0.35s;
      position: absolute;
      width: 45%;
      top: $book-card-height - 70px;
      text-align: center;
      padding: 10px 0;
      background-color: $black;
      color: $white;
      z-index: 10;
    }
    a:first-of-type {
      left: -45%;
    }
    a:last-of-type {
      right: -45%;
    }

    &:hover {
      figcaption {
        transform: translateY($book-card-height);
      }
      a:first-of-type {
        transform: translateX(100%);
      }
      a:last-of-type {
        transform: translateX(-100%);
      }
    }
  }
}

@media (min-width: 1600px) {
  .dsc-books-list {
    margin: 0 15%;
  }
}