@import 'shared/tags';
@import 'shared/footer';

.dsc-section-header {
  background-color: $color-darker;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  h2 {
    margin: 0;
    font-size: $main-caption-size;
    text-transform: uppercase;
    color: $white;
    &:before,&:after {
      padding: 0 2px;
      content: '\2022';
      font-size: 25px;
    }
  }
}
