header {
  position: relative;
  width: 100%;
  .dsc-home-logo-inner {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    img {
      height: 210px;
    }
  }
  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    height: 90px;
    width: 100%;
    top: 90px;
    background-color: $color-darker;
  }
}

nav {
  font-family: 'Roboto Slab';
  width: 100%;
  margin: 50px 0;
  ul {
    padding: 0;
    li {
      display: inline;
      text-transform: uppercase;
      &:before {
        padding: 0 10px;
        content: '\2022';
        font-size: 19px;
      }
      &:first-of-type:before {
        content: '';
      }
      a {
        color: $black;
        font-size: 19px;
        &:hover {
          text-decoration: none;
          color: $color-darker;
        }
        &.active {
          color: $color-darker;
        }
      }
    }
  }
}

.dsc-home-hero-container {
  width: 100%;
  max-height: 750px;
  min-height: 400px;
  overflow: hidden;
  background: no-repeat center /100% auto image-url('mockups/home_book');
  color: $white;
  .dsc-home-hero-overlay {
    margin: 50px;
    border: 1px solid $color-lighter;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    min-height: 300px;
    .dsc-home-hero-overlay-inner {
      min-height: 300px;
      width: 50%;
      margin: auto;
      display: flex;
      align-content: space-around;
      justify-content: center;
      flex-wrap: wrap;
      h1 {
        text-transform: uppercase;
      }
      article {
        position: relative;
        &:before,&:after {
          font-family: 'Roboto Slab';
          font-size: 100px;
          position: absolute;
        }
        &:before {
          top: -70px;
          left: -25px;
          content: '“';
        }
        &:after {
          bottom: -110px;
          right: -25px;
          content: '”';
        }
      }
      button {
        margin: 10px 0;
      }
    }
  }
}
