$color-lighter: #c3bad8;
$color-darker: #b8aed1;
$colored-background: rgba(195, 186, 216, 0.8);
$button-background: $color-darker;
$button-hover-background: $color-lighter;
$black: #2c2c2c;
$white: #fff;
$main-caption-size: 24px;
$block-caption-size: 15px;
$text-size: 11px;
$button-text-size: 11px;
$global-border-radius: 3px;
