$color-darker: #6c3b4a;
$color-lighter: lighten($color-darker, 10);
$colored-background: rgba(195, 186, 216, 0.8);
$button-background: $color-darker;
$button-hover-background: $color-lighter;
$black: #191919;
$gray: #949494;
$light-gray: #f4f4f4;
$article-bg-gray: #444444;
$white: #fff;
$red: #d64541;
$green: #91B806;
$light-green: lighten($green, 3);
$sidenav-header-size: 36px;
$main-caption-size: 24px;
$block-caption-size: 18px;
$text-size: 13px;
$article-text-size: 1.7rem;
$button-text-size: 12px;
$global-border-radius: 3px;
// cards with actions
$card-height: 340px;
$image-container-height: $card-height - 100px;

// app-logic related variables
$available-variants: (paperback hardcover ebook audio);
