$color-lighter: #c3bad8;
$color-darker: #b8aed1;
$colored-background: rgba(195, 186, 216, 0.8);
$button-background: $color-darker;
$button-hover-background: $color-lighter;
$black: #2c2c2c;
$gray: #949494;
$article-bg-gray: #444444;
$white: #fff;
$red: #d64541;
$green: #91b806;
$sidenav-header-size: 36px;
$main-caption-size: 24px;
$block-caption-size: 18px;
$text-size: 11px;
$button-text-size: 11px;
$global-border-radius: 3px;
